CompileFlags:
  CompilationDatabase: build
  Add:
    - -xc++
    - -std=gnu++17
    - -I/usr/include/c++/11
    - -I/usr/include/x86_64-linux-gnu/c++/11

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - system-include
    - system-include-angle
    - misc-non-private-member-variables-in-classes
    - cppcoreguidelines-non-private-member-variables-in-classes
  ClangTidy:
    Add:
      - "*"
    Remove:
      - misc-include-cleaner
      - bugprone-easily-swappable-parameters
      - misc-use-internal-linkage
      - misc-non-private-member-variables-in-classes
      - cppcoreguidelines-non-private-member-variables-in-classes
      - misc-unused-parameters
      - performance-unnecessary-value-param
      - readability-function-cognitive-complexity
      - readability-magic-numbers
      - cppcoreguidelines-avoid-magic-numbers
      - readability-identifier-length
      - llvm*
      - llvmlibc*
      - abseil*
      - android*
      - fuchsia*
      - objc*
      - zircon*
      - altera*
      - google*
      - boost-*
      - modernize-use-trailing-return-type

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Completion:
  AllScopes: Yes

Hover:
  ShowAKA: Yes
